///*------------------------------------*\
//    #COMPONENTS BLOGS
//\*------------------------------------*/




// Display my blog posts
.blogs__title
    text-align center
    text-transform uppercase
    rem-fallback( margin, 32px 0 )

.blogs__separator
    display block
    width 80%
    rem-fallback( height, 2px )
    background wf_border-navigation
    margin 0 auto
