///*------------------------------------*\
//    #COMPONENTS BLOGS
//\*------------------------------------*/




// Rules for blogs page introduction
.blogs__title
    text-align center
    text-transform uppercase
    rem-fallback( margin, 32px 0 )

.blogs__separator
    display block
    width 80%
    rem-fallback( height, 2px )
    background wf_border-navigation
    margin 0 auto

// Style for display my blog articles
.blogs
    display inline-block
    width 50%
    rem-fallback( padding-bottom, 56px )
    transition( all, 0.25s )
    &:hover
        opacity 0.6

.blogs__block
    rem-fallback( max-width, 540px )
    margin 0 auto
.blogs__date
    display block
    rem-fallback( margin-top, -20px )
.blogs__img
    rem-fallback( margin, 8px 0 )

// Style for display one article
.blog__thumbnails
    display block
    width 100%
    rem-fallback( min-height, 225px )
    rem-fallback( max-height, 300px )
    margin 0 auto

.blog__title
    text-align center
    text-transform uppercase
    rem-fallback( margin, -24px 0 0 )

.blog__date
    display block
    text-align center
    rem-fallback( margin, -8px 0 48px )

// Pagination for my blog
.pagination
    rem-fallback( font-size, 20px )
    display block
    rem-fallback( width, 132.5px )
    margin 0 auto 40px

.pagination__element
    rem-fallback( padding, 0 4px )
