///*------------------------------------*\
//    #COMPONENTS FOOTER
//\*------------------------------------*/




// Footer style
.footer
    width 100%
    background-color wf_background-navigation-color
    border-top 1px solid wf_border-navigation
    rem-fallback( padding, 16px 32px )

.copyright
    rem-fallback( font-size, 14px )
    font-style italic
    rem-fallback( width, 380px )
    margin 0 auto
