///*------------------------------------*\
//    #COMPONENTS HOMEPAGE
//\*------------------------------------*/




// Placing my background image and logo on the HOMEPAGE
.cover
    position relative
    width 100%
    height 100vh
    background url("images/links/home.jpg") center fixed no-repeat

.cover__logo
    position absolute
    rem-fallback( width, 800px )
    rem-fallback( height, 400px )
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    background url("images/links/sprite.svg") -10px -40px
.logo__alt
    font-family wf_font-heading
    rem-fallback( font-size, 32px )
    text-align center
    color wf_logo-replace
    rem-fallback( margin-top, 172px )
    rem-fallback( text-indent, -9999px )
