///*------------------------------------*\
//    #COMPONENTS PAGINATION
//\*------------------------------------*/




// Pagination for my blog
.pagination
    display block
    rem-fallback( font-size, 20px )
    rem-fallback( width, 132.5px )
    margin 0 auto
    rem-fallback( padding, 40px 0 )

.pagination__element
    rem-fallback( padding, 0 4px )
.pagination__element--current
    color wf_pagination-current-color
    text-decoration none
    transition( all, 0.25s )
    &:hover
        text-decoration none
        opacity 0.6
