///*------------------------------------*\
//    #COMPONENTS EXTERN LINK
//\*------------------------------------*/




// Social Network link on my portfolio
.social
    rem-fallback( margin-top, -2px )
    rem-fallback( margin-left, -4px )

.social__link
    display inline-block
    rem-fallback( width, 26px )
    rem-fallback( height, 26px )
    rem-fallback( text-indent, -9999px )
    rem-fallback( margin-left, 16px )
    transistion( all, 0.25s )

.social__link--facebook
    display block
    width 100%
    height 100%
    background: url("images/links/sprite.svg") -10px -10px
    opacity 0.6
    &:hover
        opacity 1
.social__link--github
    display block
    width 100%
    height 100%
    background: url("images/links/sprite.svg") -45px -10px
    opacity 0.6
    &:hover
        opacity 1
