///*------------------------------------*\
//    #COMPONENTS HEADER
//\*------------------------------------*/




// Header style
.header
    width 100%
    position fixed
    top 0
    right 0
    left 0
    background-color wf_background-navigation-color
    border-bottom 1px solid wf_border-navigation
    rem-fallback( padding, 16px 32px )
    z-index 1
.header--hidden
    opacity 0
    -webkit-transform translate( 0, px-to-rem( -60px ) )
    -webkit-transition -webkit-transform 0.25s, background 0.5s, color 0.5s, opacity 0 0.5s

.header--visible
    opacity 1
    -webkit-transform translate( 0, 0 )
    -webkit-transition -webkit-transform 0.25s, background 0.5s, color 0.5s


.social, .navigation
    float right

.navigation__element
    font-family wf_font-heading
.element__link
    font-style normal
    color wf_nav-color
    text-decoration none
    rem-fallback( margin, 0 8px )
    rem-fallback( padding-bottom, 3px )
    &:hover
        color wf_nav-color-hover
        text-decoration none
