///*------------------------------------*\
//    #COMPONENTS WORKS
//\*------------------------------------*/




// Display all my works
.works
    width 100%

.works__title
    text-align center
    text-transform uppercase
    rem-fallback( margin, 32px 0 )

// Display of each work in works.html
.work
    width 33.33%
    overflow hidden

.work__block
    display block
    position relative
    margin 0
    padding 0
    &:hover .work__caption
        width 100%
        height 100%
        opacity 0.9
    &:hover .work__title
        opacity 1

.work__image
    width 100%
    height 100%

.work__caption
    dislay block
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    width 5%
    height 5%
    background wf_background-caption-color
    opacity 0
    transition( all, 0.25s )

.work__title
    text-align center
    margin-top 40%
    opacity 0
    color wf_caption-body-color
.work__title-head
    text-transform uppercase
    color wf_caption-color
.work__title-line
    display block
    rem-fallback( width, 250px )
    rem-fallback( height, 4px )
    background wf_border-caption
    margin 6px auto
