///*------------------------------------*\
//    #COMPONENTS HOMEPAGE
//\*------------------------------------*/




// Placing my background image and logo on the HOMEPAGE
.home
    position relative
    display block
    width 100%
    height 100vh
    background url("images/links/home.jpg") center fixed no-repeat

.home__logo
    position absolute
    display block
    rem-fallback( width, 800px )
    rem-fallback( height, 400px )
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    background url("images/links/sprite.svg") -10px -40px
