///*------------------------------------*\
//    #COMPONENTS WORKS
//\*------------------------------------*/




// Display all my works
.works__title
    text-align center
    text-transform uppercase
    rem-fallback( margin, 32px 0 )
