///*------------------------------------*\
//    #COMPONENTS BLOGS
//\*------------------------------------*/




// Rules for blogs page introduction
.blogs__title
    text-align center
    text-transform uppercase
    rem-fallback( margin, 32px 0 )

.blogs__separator
    display block
    width 80%
    rem-fallback( height, 2px )
    background wf_border-navigation
    margin 0 auto

// Style for display my blog articles
.blogs
    display inline-block
    width 100%
    rem-fallback( margin, 24px 0 )
    transition( all, 0.25s )
    &:hover
        opacity 0.6

.blogs__block
    rem-fallback( min-width, 480px )
    rem-fallback( max-width, 540px )
    margin 0 auto
.blogs__block--title
    text-align center
.blogs__date
    display block
    rem-fallback( margin-top, -20px )
.blogs__img
    width 100%
    rem-fallback( margin, 12px 0 )

// Style for display one article
.blog__thumbnails
    margin-top 5%

.blog__title
    text-align center
    text-transform uppercase
    rem-fallback( margin, -24px 0 0 )

.blog__date
    display block
    text-align center
    rem-fallback( margin, -4px 0 48px )
