///*------------------------------------*\
//    #SETTINGS DEFAULT
//\*------------------------------------*/




// Font settings.
wf_font-size                    =    16px
wf_line-height                  =    24px
wf_space-unit                   =    wf_font-size
wf_margin-spacing               =    wf_line-height
wf_list-element                 =    "- "
wf_font-labeur                  =    "PT Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
wf_font-heading                 =    "Sanchez", serif

// Font-Size for heading
wf_heading-size-1               =    41.887px
wf_heading-size-2               =    34.269px
wf_heading-size-3               =    25.888px
wf_heading-size-4               =    21.180px
wf_heading-size-5               =    16px
wf_heading-size-6               =    13.090px

// Text colors.
wf_labeur-color                 =    #454545
wf_heading-color                =    #2c3e50
wf_nav-color                    =    #45a0c9
wf_nav-color-hover              =    #59d0ff
wf_link-color                   =    #139885
wf_link-color-hover             =    #1be6bd
wf_logo-replace                 =    #eeeeee

// Background colors.
wf_background-color             =    #fafafa
wf_background-navigation-color  =    #f6f6f6

// Border colors
wf_border-animate_link          =    #d1d1d1
wf_border-navigation            =    #cbcbcb

// Forms settings
wf_form-placeholder-color       =    #717171
wf_form-border-color            =    #ffffff
wf_form-background-color        =    #ffffff
wf_form-background-color-focus  =    #ffffff
