///*------------------------------------*\
//    #SETTINGS DEFAULT
//\*------------------------------------*/




// Font settings.
wf_font-size                    =    16px
wf_line-height                  =    24px
wf_space-unit                   =    wf_font-size
wf_margin-spacing               =    wf_line-height
wf_list-element                 =    "- "
wf_font-labeur                  =    "PT Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
wf_font-heading                 =    "Sanchez", serif

// Font-Size for heading
wf_heading-size-1               =    41.887px
wf_heading-size-2               =    34.269px
wf_heading-size-3               =    25.888px
wf_heading-size-4               =    21.180px
wf_heading-size-5               =    16px
wf_heading-size-6               =    13.090px

// Text colors.
wf_labeur-color                 =    #606060
wf_heading-color                =    #533B4D
wf_nav-color                    =    #540B0E
wf_nav-color-hover              =    #9E2A2B
wf_link-color                   =    #9E2A2B
wf_link-color-hover             =    #540B0E
wf_caption-color                =    #9E2A2B
wf_caption-body-color           =    #fffbdb
wf_pagination-current-color     =    #533B4D

// Background colors.
wf_background-color             =    #fcfcfc
wf_background-navigation-color  =    #fafafa
wf_background-caption-color     =    #533B4D

// Border colors
wf_border-forms                 =    #533B4D
wf_border-animate_link          =    #9E2A2B
wf_border-navigation            =    #533B4D
wf_border-image                 =    #533B4D
wf_border-caption               =    #fffbdb

// Forms settings
wf_form-placeholder-color       =    #a1a1a1
wf_form-background-color        =    #ffffff
wf_form-background-color-focus  =    #ffffff
wf_background-color             =    #f9f9f9
wf_background-submit            =    #540B0E
wf_background-submit-hover      =    #9E2A2B
wf_background-from-error        =    #9E2A2B
wf_background-from-sended       =    #533B4D
wf_background-from-error-color  =    #f9f9f9
