///*------------------------------------*\
//    #TRUMPS INLINE-BLOCK
//\*------------------------------------*/




// Use Kouto-swiss's clearfix
.correct__inline-block
    letter-spacing -0.31em                      !important
    text-rendering optimizespeed                !important
    font-family Helvetica, Arial, sans-serif    !important
