///*------------------------------------*\
//    #TRUMPS FRESCO
//\*------------------------------------*/




// Hidden canvas from fresco
.fr-box canvas
    position absolute          !important
    top -100000em              !important
    left -100000em             !important
    opacity 0                  !important
    text-indent -100000em      !important
