///*------------------------------------*\
//    #BASE PARAGRAPH
//\*------------------------------------*/




// Lettrine
.lettrine
    &:first-letter
        font-family wf_font-heading
        rem-fallback( font-size, 40px )
        line-height 0
        color wf_heading-color

.paragraph-separator__first
    display block
    rem-fallback( width, 50px )
    rem-fallback( height, 25px )
    background: url("images/links/sprite.svg") -80px -10px
    margin 12px auto
.paragraph-separator__second
    display block
    rem-fallback( width, 50px )
    rem-fallback( height, 25px )
    background: url("images/links/sprite.svg") -130px -10px
    margin 12px auto
.paragraph-separator__third
    display block
    rem-fallback( width, 50px )
    rem-fallback( height, 25px )
    background: url("images/links/sprite.svg") -180px -10px
    margin 12px auto
.paragraph-separator__four
    display block
    rem-fallback( width, 50px )
    rem-fallback( height, 25px )
    background: url("images/links/sprite.svg") -230px -10px
    margin 12px auto
