///*------------------------------------*\
//    #BASE LINK
//\*------------------------------------*/




// Remove default style for link
.removeLink
    color inherit
    text-decoration none
    &:hover
        color inherit

a
    font-style italic
    color wf_link-color
    transition( all, 0.25s )
    &:hover
        color wf_link-color-hover
        text-decoration underline
