//- includes/header.jade

header.header.header--visible
    h1.hidden Simon&You, portfolio de Simon Leyder
    div.header__nav
        div.inline-block.choices
            span.choices__element
            span.choices__button
        div.inline-block.social
            h2.hidden Retrouver moi ailleurs !
            span.social__link
                a( href='https://www.facebook.com' ).social__link--facebook Facebook
            span.social__link
                a( href='https://github.com/LSPanda' ).social__link--github Github
        nav.inline-block.navigation
            h2.hidden Navigation à travers mon portfolio
            if current.main
                span.navigation__element
                    a( href='index.html' ).element__link.animateLink Home
            else
                span.navigation__element
                    a( href='../index.html' ).element__link.animateLink Home
            if current.main
                span.navigation__element
                    a( href='html/works.html' ).element__link.animateLink.animateLink Works
            else
                span.navigation__element
                    a( href='works.html' ).element__link.animateLink Works
            if current.main
                span.navigation__element
                    a( href='html/blog.html' ).element__link.animateLink Blog
            else
                span.navigation__element
                    a( href='blog.html' ).element__link.animateLink Blog
            if current.main
                span.navigation__element
                    a( href='html/about.html' ).element__link.animateLink About
            else
                span.navigation__element
                    a( href='about.html' ).element__link.animateLink About
