//- includes/header.jade

header.header
    h1.hidden Simon&You, portfolio de Simon Leyder
    div.header__nav
        div.choices
            span.choices__element
            span.choices__button
        nav.navigation
            h2.hidden Menu de Navigation de mon portfolio
            if current.home
                span.navigation__element
                    a( href='html/works.html' ).element__link Works
            else
                span.navigation__element
                    a( href='works.html' ).element__link Works
            if current.home
                span.navigation__element
                    a( href='html/blog.html' ).element__link Blog
            else
                span.navigation__element
                    a( href='blog.html' ).element__link Blog
            if current.home
                span.navigation__element
                    a( href='html/contact.html' ).element__link Contact
            else
                span.navigation__element
                    a( href='contact.html' ).element__link Contact
        div.social
            h2.hidden Vous pouvez aussi me retrouver ailleurs
            span.social__link
                a( href='https://www.facebook.com' ).social__link--facebook Facebook
            span.social__link
                a( href='https://github.com/LSPanda' ).social__link--github Github
