//- includes/script.jade

if current.main
    script(src="assets/js/vendor/jquery.js")
    script(src="assets/js/script-min.js")
else
    script(src="../assets/js/vendor/jquery.js")
    script(src="../assets/js/script-min.js")

if current.work
    script(src="../assets/js/vendor/fresco.js")
