///*------------------------------------*\
//    #OBJECTS INLINE-BLOCK
//\*------------------------------------*/




// Inline-block element
.inline-block
    display inline-block
    font-family wf_font-labeur
    letter-spacing normal
    word-spacing normal
    text-rendering auto
    vertical-align top
