//- index.html

extends includes/layout

block title
    title Simon&You - About

block header
    - var current = { about: 'who is' }
    include includes/header.jade

block content
    div.wrapper__text
        h2.alpha.blogs__title Contact
        p.lettrine Et voici le moment que vous attendiez... Si je vous ai séduit jusqu'à maintenant et que vous êtes certain que vous me voulez pour votre projet, c'est le moment de me contacter&nbsp;! Alors, rien de plus simple. Il vous suffit de remplir le formulaire ci-dessous pour m'envoyer un mail et je m'empresserai de vous répondre afin de fixer au plus tôt un premier contact et ainsi se voir dans le but de réaliser votre rêve. Mais dans le cas contraire, c'est ici que je vous quitte mes chers amis, et j'espère que vous avez tout de même passé du bon temps sur mon site internet&nbsp;!
        span.paragraph-separator__first

block footer
    include includes/footer.jade
