//- index.html

extends includes/layout

block title
    title Simon&You - About

block header
    - var current = { about: 'who is' }
    include includes/header.jade

block content
    p Liste des travaux

block footer
    include includes/footer.jade
