//- index.html

extends includes/layout

block title
    title Simon&You - Blog

block header
    - var current = { blog: 'showing post' }
    include includes/header.jade

block content
    p Un article du blog


block footer
    include includes/footer.jade
