//- index.html

extends includes/layout

block title
    title Simon&You - Blogs

block header
    - var current = { blogs: 'listing posts' }
    include includes/header.jade

block content
    div.wrapper__text
        h2.alpha.blogs__title Blog
        p.lettrine Pourquoi un blog me diriez-vous&nbsp;? Je reste un homme et j'adore parler de ce qui me passe par la tête&nbsp;! Et ici, je n'exposerais pas  mon chat ou d'autre chose à la mode sur l'internet... Mais plutôt de ce que je fais de mon temps libre, comme lire où découvrir de nouvelles technologies pour mon métier et me tenir à la page. Enfin, vous verrez bien en continuant sur cette page, les derniers articles sont juste en dessous&nbsp;!
        span.paragraph-separator__second
    section.blog
        - var numberItem = 0
        h2.hidden Liste de mes articles sur le blog

        while numberItem < 4
            article.blogs                
                a( href="blog.html").removeLink
                    div.blogs__block
                        h3.gamma Un chouette article
                        span.blogs__date 13 Octobre 2015
                    img(src="../assets/images/articles.jpg" alt="attribut alt de l'image").blogs__img
                    div.blogs__block
                        p Et pour vous donner l’eau à la bouche, voici un petit extrait de l'article en question.
                    
                                                    
            - numberItem++
    
        div.pagination
            span.inline-block.pagination__element
                a(href="#").block.removeLink.pagination__element &lang;&lang;
            span.inline-block.pagination__element
                a(href="#").block.pagination__element--current 1
            span.inline-block.pagination__element
                a(href="#").block.pagination__element 2
            span.inline-block.pagination__element
                a(href="#").block.pagination__element 3
            span.inline-block.pagination__element
                a(href="#").block.removeLink.pagination__element &rang;&rang; 

block footer
    include includes/footer.jade
