//- index.html

extends includes/layout

block title
    title Simon&You - Home

block style
    link(rel="stylesheet" href="css/main-min.css")

block header
    - var current = { main: 'home' }
    include includes/header.jade

block content
    div.cover
        div.cover__logo
            p.logo__alt Simon&You. Code. Design. Print.

    div.wrapper
        main.presentation
            h2 Bien le bonjour
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

block footer
    include includes/footer.jade
