//- index.html

extends includes/layout

block title
    title Simon&You - Home

block style
    link(rel="stylesheet" href="css/main-min.css")

block header
    - var current = { main: 'home' }
    include includes/header.jade

block content
    div.cover
        img( src="css/images/links/logo.svg" alt="Simon&You. Code, design and Print" ).cover__logo

    div.wrapper__text
        main.about
            h2.hidden Bienvenu chez moi
            p.lettrine Bonjour à tous ! Comme vous vous en doutez en ayant suivi ce lien parmis les internets, vous êtes sur mon portfolio. Je me nomme Simon Leyder et je suis en dernière année d'étude à la Haute École de la Province de Liège en spécialité Web. Et sacher que je suis la  personne rêvé pour créer et concevoir vos site web !
            div.paragraph-separator
            p J'ai encore beaucoup de chose à dire, malheureusement, je suis encore au stade du developpement de cette maquette! Et donc, il n'y aura pas grand chose d'intéressant à dire ici. Il y a des chances que je fasse le reste du travail pour que vous ayez un truc à vous mettre sous la dent, mais pas tout de suite. J'ai encore un footer à faire et les autres pages. Et vu la vitesse à laquelle je procrastine, ce ne sera pas avant la semaine prochaine !
            p Encore un peu de patience alors !


block footer
    include includes/footer.jade
