//- index.html

extends includes/layout

block title
    title Simon&You - Home

block style
    link(rel="stylesheet" href="css/main-min.css")

block header
    - var current = { main: 'home' }
    include includes/header.jade

block content
    p Template personnel de maquette, utilisant Jade et Stylus.

block footer
    include includes/footer.jade
