//- index.html

extends includes/layout

block title
    title Simon&You - Works

block header
    - var current = { works: 'listing works' }
    include includes/header.jade

block content
    div.wrapper__text
        h2.alpha.works__title Mes travaux
        p.lettrine Mes amis, pour quelles raisons navigez-vous sur mon portfolio&nbsp;? En premier lieu, j'ai envie de dire que vous êtes à la recherche d'un infographiste pour un logo / un site internet / une affiche / un projet super interessant&nbsp;! Seulement, avant de vous arrêter ici et me choisir comme compagnon pour réaliser la moindre de vos envie, jeter un coup d'oeil à mes travaux déjà réalisés afin de savoir si je suis la personne que vous rechercher. Bonne navigation&nbsp;!
    section.works
        - var numberItem = 0
        h2.hidden Liste de mes travaux

        while numberItem < 3
            article.inline-block.work
                h3.hidden Game Boy
                a( href="work.html").removeLink
                    figure.work__block
                        img(src="../assets/images/myWork.jpg", alt="Image de travail").work__image
                        figcaption.work__caption
                            div.work__title
                                span.gamma.work__title-head Game Boy
                                div.work__title-line
                                p Stylus Jade Kirby
            article.inline-block.work
                h3.hidden Resto-Rallye
                a( href="work.html").removeLink
                    figure.work__block
                        img(src="../assets/images/myWork1.jpg", alt="Image de travail").work__image
                        figcaption.work__caption
                            div.work__title
                                span.gamma.work__title-head Resto-Rallye
                                div.work__title-line
                                p Stylus Jade Laravel CoffeScript
                                                    
            - numberItem++
    

block footer
    include includes/footer.jade
