//- index.html

extends includes/layout

block title
    title Simon&You - Work

block header
    - var current = { work: 'showing work' }
    include includes/header.jade

block content
    p Liste des travaux

block footer
    include includes/footer.jade
